.lista {
    position: fixed;
    padding: 1em 0;
    color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: beige;
    border-radius: 25px;
    border-color: black;
    text-decoration: none;
}

main {
    margin-top: 100px; 
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

nav ul {
    display: flex;  
    flex-direction: row;
    list-style-type: none;  
    padding: 0;
    margin: 0;
    justify-content: center; 
    background-color: transparent;  
}

nav ul li {
    margin: 0 20px; 
    position: relative; 
}

nav ul li a {
    color: black;  
    text-decoration: none;  
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff6347;  
}


nav ul li ol {
    display: none;  
    position: absolute;
    top: 100%;  
    left: 0;
    background-color: #333;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px blue;
}

nav ul li:hover > ol {
    display: block; 
}

nav ul li ol li {
    margin: 10px 0; 
}

nav ul li ol li a {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    display: block;
}

nav ul li ol li a:hover {
    background-color: #46251c;  
}
@media (max-width: 768px) {
    nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    }
    nav ul li a {
    padding: 1em;
    text-align: center;
    }
    #nav-toggle {
    display: block;
    }
    .nav-open ul {
    display: flex;
    }
   }
#susurro{
    height: 90vh;
    background-color: aquamarine;
}
#jardin{
    height: 90vh;
    background-color: aquamarine;
}
#noche{
    height: 90vh;
    background-color: aquamarine;
}
#rio{
    height: 90vh;
    background-color: aquamarine;
}

