.lista{
    position: fixed;
    padding: 1em 0;
    color: white;
    top: 0;
    z-index: 1000;
    background-color: blueviolet;
}
main{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}